#!/bin/bash

PAM_SUCCESS=0
PAM_SERVICE_ERR=3
PAM_PERM_DENIED=6
PAM_AUTH_ERR=7

# env > {{ tmp_dir }}.env
# date >> {{ tmp_dir }}.env

case $PAM_TYPE in
  auth)
    # In the authentication stage, we assure that the user is who he claims to be. 
    # For example by checking username and password.
    tmp_file=""
    case $PAM_SERVICE in
      sshd)
        echo "Auth from ssh handled" | logger -t "pam_oidc"
        # If authentication comes from SSH, our inetd script already created a device auth token
        port=$(echo $SSH_CONNECTION | cut -d ' ' -f 2)
        tmp_file="{{ tmp_dir }}$port"
        ;;
      *)
        echo "Auth from $PAM_SERVICE" | logger -t "pam_oidc"
        # Otherwise, initiate a new device flow 
        tmp_file="$(mktemp -p {{ tmp_dir }} $PAM_SERVICE.XXXXX)"
        {{ install_dir }}oidc_setup "$tmp_file"
        {{ install_dir }}get_qr "$tmp_file"
        ;;
    esac
    {{ install_dir }}oidc_verify "$tmp_file" > "${tmp_file}.result"
    oidc_verify_code="$?"

    echo "Check $PAM_USER with response : $(cat ${tmp_file}.result)" | logger -t "pam_oidc"

    if [ "$oidc_verify_code" == "0" ]; then
      if [ "$PAM_USER" == "$(cat ${tmp_file}.result | jq -r '.user')" ]; then
        if [ "true" == "$(cat ${tmp_file}.result | jq -r '.groups | contains(["SSH"])')" ]; then
          echo "Success !" | logger -t "pam_oidc"
          cat /etc/passwd | grep -Eq "^$PAM_USER\:" || useradd -m "$PAM_USER"
          cat "${tmp_file}.result" | jq -r '.groups[]' | grep -vE "^SSH$" > "{{ tmp_dir }}$PAM_USER"
          if [ "sshd" != "$PAM_SERVICE" ]; then 
            rm "${tmp_file}"
            rm "${tmp_file}.result"
          fi
          exit $PAM_SUCCESS
        else
          echo "Not in SSH groups : $(cat ${tmp_file}.result | jq -r '.groups[]' | xargs)" | logger -t "pam_oidc"
        fi
      else
        echo "Invalid user, expecting $PAM_USER, got $(cat ${tmp_file}.result | jq -r '.user')" | logger -t "pam_oidc"
      fi
    else
      echo "Error code $oidc_verify_code." | logger -t "pam_oidc"
    fi
    echo "Error... deleting ${tmp_file} and exit." | logger -t "pam_oidc"
    rm "${tmp_file}"
    rm "${tmp_file}.result"
    exit $PAM_PERM_DENIED
    ;;
  account)
    # After we authenticate the user we may still want to do some checks. 
    # For example, if the account is expired.
    exit $PAM_SUCCESS
    ;;
  open_session)
    echo "Opening session for $PAM_USER." | logger -t "pam_oidc"
    while read group
    do
      echo "$group -> $PAM_USER" | logger -t "pam_oidc"
      groupadd -f "$group"
    done <{{ tmp_dir }}$PAM_USER
    usermod -G "$( (echo $PAM_USER && cat {{ tmp_dir }}$PAM_USER) | xargs | sed -e 's/\s\s*/,/g')" "$PAM_USER"
    exit $PAM_SUCCESS
    # In this stage we build the user environment. 
    # We can set user variables, load configuration files, mounting directories and much more.
    ;;
  close_session)
    if [ "sshd" == "$PAM_SERVICE" ]; then 
      port="$(echo $SSH_CONNECTION | cut -d ' ' -f 2)"
      echo "Closing SSH:$port session." | logger -t "pam_oidc"
      # If authentication comes from SSH, we remove the tmp file associated to this port
      tmp_file="{{ tmp_dir }}$port"
      rm "$tmp_file"
      rm "${tmp_file}.result"
    fi
    exit $PAM_SUCCESS
    ;;
  *)
    exit $PAM_SERVICE_ERR
    ;;
esac
