#!/bin/bash
# verify if the user authenticate
# first arg : the oidc file
# return the res file

tmp_file="$1"

source {{ install_dir }}oidc_env

URL="$( cat {{ install_dir }}oidc_config.json | jq '.mtls_endpoint_aliases.token_endpoint' -r )"

while true;
do
res=$(curl -s --request POST --url "$URL" \
--header 'Content-Type: application/x-www-form-urlencoded' \
--data grant_type=urn:ietf:params:oauth:grant-type:device_code \
--data client_secret=$CLIENT_SECRET \
--data client_id=$CLIENT_ID \
--data device_code="$(cat $tmp_file | jq -r '.device_code')")
if $(echo "$res" | jq 'has("error")');
then
    if [ "$(echo "$res" | jq -r '.error')" = "authorization_pending" ];
    then
        sleep $(cat $tmp_file | jq '.interval')
    else
        exit 1
    fi
else
    echo "$res" | jq -r '.access_token' | cut -d. -f2 | base64 -d  2>/dev/null | jq '. | {"user": .preferred_username, "groups": (.realm_access.roles + .resource_access.'$CLIENT_ID'.roles - ["default-roles-servers", "offline_access", "uma_authorization"])}'
    exit 0
fi
done
