#!/bin/bash


# get all the open ports for the ssh service
all_ports="$(ss | grep -E "^tcp\s.*\:ssh" | sed -e "s/^\ *//g" -e "s/\ *$//g" | rev | cut -d: -f1 | rev | grep -v ssh)"

# create the temp dir if not set
mkdir -p -m 700 "{{ tmp_dir }}"

current_port=$(echo "${all_ports}" | grep -Ev "^($(/bin/ls -1 {{ tmp_dir }} | xargs | sed -e 's/\s/|/g'))$")

# logging ports for debug
echo "Ports for this run :" | logger -t "pam_oidc"
echo "${all_ports}"         | xargs | logger -t "pam_oidc"
echo "After filter :"       | logger -t "pam_oidc"
echo "${current_port}"      | xargs | logger -t "pam_oidc"

# Assert there is only one port, this is the flaky part
# Maybe improve this by talking with the other current handlers
test "$(echo "${current_port}" | wc -l)" = 1 || current_port="$(echo "${current_port}" | tail -n 1)"

oidc_file="{{ tmp_dir }}${current_port}"

# then return the oidc file
echo "${oidc_file}"
